* {
    font-family: "Roboto",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
}

img {
    border: 3px solid rgb(55, 105, 197);
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0px;
    margin: 0px;
    gap: 20px;
}
button {
    width: max-content;
    padding: 8px 30px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 5px;
}
body {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 50px;
}

.topcontent {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 18px;
    padding-bottom: 100px;
}

.logo {
    font-size: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 300px;
    margin-bottom: 80px;
}

.lower-topcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.lower-topcontent > .left {
    display: flex;
    flex-flow: column wrap;
    max-width: 450px;
    gap: 10px;
}

.topcontentimg {
    width: 500px;
    background-color: rgb(94, 84, 84);
    border-radius: 0;
    border-style: none;
}

.hero {
    font-size: 48px;
    font-weight: 900;
}

.middlecontent {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.boxes {
    display: flex;
    flex: 1;
    justify-content: center;
}
.box {
    flex-wrap: wrap;
    width: 200px;
    margin: 20px;
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    color:#1F2937;
    font-weight: 300;
    background-color: #E5E7EB;
    font-style: italic;
    padding: 200px;
}

.quoted {
    display: flex;
    justify-content: right;
    font-weight: bold;
    font-style: normal;
}
.cta {
    display: flex;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    margin: 50px 250px;
    padding: 40px 50px;
}

.ctatext {
    display: flex;
    flex-direction: column;
}

.ctahead {
    font-weight: bold;
}
.cta button {
    border: 2px solid white;
}

.footer {
    display: flex;
}

.topcontent,
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
}
